{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Cases - Helper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Cases">
		<!-- Le styles -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		
		<link href="{% static "/static/css/bootplus.css"%}" rel="stylesheet" />
		<link href="{% static "/static/css/bootplus-responsive.min.css"%}" rel="stylesheet" />
		<link href="{% static "/static/css/font-awesome.css"%}" rel="stylesheet" />
		<link href="{% static "/static/css/template.css"%}" rel="stylesheet" />
		<link href="{% static "/static/css/base.css"%}" rel="stylesheet" />
		<script src="{% static "/static/js/jquery.1.10.2.min.js"%}"></script>
	</head>
	<body>